@import '../../../styles/mixins';
@import '../../../styles/variables';

.calculatorLog {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  width: 100%;

  &__title {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    padding-bottom: 12px;
  }
}
